div {
	/*width:100%;*/
	/*height:100%;*/
	/*border: 1px solid black;*/
	/*background-color: #eee;*/
}

#section_2 h1 {
	text-align: center;
	width: 50%;
}

#comments_caption h1 {
text-align: left;
	width: 50%;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}


#section_2 {
	
	display: flex;
	justify-content: center;
	
}

#section_3 {
float: left;
/*display: flex;*/
width: 100%;
overflow:hidden;

/*height:500px;position:relative;

/*


*/
}

.big_image{
	margin-top: -250px;
	margin-bottom: -150px;
	width:100%;
	
}

#container {
	margin-left: 20px;
	margin-right: 20px;
}

#header {
	display: flex;
	justify-content: space-between;
}



#about {
	
	display: flex;
	justify-content: space-around;
	background-color: #eee;
	
	
}

#center_div {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-bottom: 200px;
}

.center_div_column {
	width: 25%
 }

#section_5 {
	
	display: flex;
	justify-content: center;
	height: 850px;
	background-color: black;
	color:white;
}

#center_of_section_5 {
	display: flex;
	width: 70%;
	flex-direction: column;
}

#write_comment_form {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

#commentForm {
	width: 400px;
	height: 1000px;
}


#form_row_1 {
 display: flex;
	justify-content: right;
	flex-direction: column;
	margin-top:100px;
}
#wch{
	color: yellow;
	background-color: yellow; height: 2px; border: 0;
	width: 30%;
	display: inline-block;
}

#write_comment_here {
  color: white;
  font-weight: bold;
  font-size: 2.0rem;
  text-align: center;
  width: 30%;

}

input,textarea {
/*outline: 2px solid rgb(96,227,161);*/
/*margin: 5px;*/
background-color: black;
color: rgb(96,227,161);
margin: 10px;
padding: 10px;
border: 2px solid rgb(96,227,161);
width:100%;
border-radius: 5px;
}

button {
box-shadow: none;
background-color: rgb(96,227,161);
color: white;
margin: 10px;
padding: 10px;
border-width:0;
border-radius: 5px;
width:50%;
}

button .read_more {
	width: 30%;
}
textarea{

resize: none;
overflow: auto;


}

#form_row_2 {
display: flex;
flex-direction: column;
margin-top:100px;
width: 100%;
}

.form_control_div {
	width: 50%;
	width:100%;
}

#task_hr {
width:100%;
height: 1px;
color:  #333;
border: 0;
background-color: #333;
}

#footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: #ccc;
	height: 200px;
}

#footer_second_row {
	display: flex;
	justify-content: space-between;
}

#contacts {
	margin-left:40px;
	width: 50%;
	color: #888;
}

#copyright {
	margin-right:40px;
	color: #333;
}

#comments_caption {
display: flex;
}

#comments_list {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.comments_column {
	display: flex;
	flex-direction: column;
	width: 40%;
}

#comments_footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200px;
	justify-content: center;
	align-items: center;
	
}

.comments_footer_row {
	display: flex;
	justify-content: space-around;
	width: 80%;
}

.navbar  {
  
  background-color: white;
  display: flex;

}

.navbar-span  {
  
   color:  rgb(147,149,152);/* #888; */
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.navbar-span:hover { 
 color: #111;
}

.task_label {
color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar a {
 
  color:  rgb(147,149,152);/* #888; */
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar  a:hover {
  color: #111;
}

/*******************************/
.wrapper_cross{
position: relative;
}
.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

/***************************************/
.wrapper_edit{
position: relative;
}
.editor {
position: absolute;
right: 64px;
top: 64px;
width: 64px;
height: 64px;
opacity: 0.3;
}
.editor:hover {
opacity: 1;
}
.editor:before, .editor:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.editor:before {
transform: rotate(45deg);
}
.editor:after {
transform: rotate(-45deg);
}



	
      input {
  border: 1px solid silver;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
}

.dirty {
  border-color: #5A5;
  background: #EFE;
}

.dirty:focus {
  outline-color: #8E8;
}

.error {
  border-color: red;
  background: #FDD;
}

.error:focus {
  outline-color: #F99;
}




