<template>

	<div id="container">
	
	<app-header></app-header>
	
	
	
	
			 	<div id="edit_comment" v-if="edit_comment">
			  
				<app-edit-comment></app-edit-comment>
			  
			  </div>
			  
			 	<div id="view_comment" v-if="view_comment">
			  
				<app-view-comment></app-view-comment>
			  
			  </div>
			  
			 
			  
			  <div id="comments" v-show="show_comments">
			  
				<app-comments></app-comments>
			  
			  </div>
			  
			  <div id="main" v-show="show_main">
			  
				<app-main></app-main>
				
			  </div>
	  
	  
	  <app-footer></app-footer>
	  
	  
	  </div>
	  
	  
</template>
	
<script>

import AppMain from "./AppMain"
import AppComments from "./AppComments"
import AppHeader from "./AppHeader"
import AppViewComment from "./AppViewComment"
import AppEditComment from "./AppEditComment"
import AppFooter from "./AppFooter"

export default {

 data() {
	 
	 return {
		
		
			
			}
		},
		
		components: {
		
			
			AppMain: AppMain,
			AppComments: AppComments,
			AppViewComment: AppViewComment,
			AppEditComment: AppEditComment,
			 AppHeader: AppHeader,
			 AppFooter: AppFooter,
		
		},
		
		computed: {
		
			show_main() {  return this.$store.getters.show_main  },
			show_comments() {  return this.$store.getters.show_comments  },
			 
	  
	  view_comment() {  return this.$store.getters.view_comment  },
	  
	  edit_comment() {  return this.$store.getters.edit_comment  },
	 
	  
 		
		},
		
		methods: { 
		
			
			 
		}
		
		
     
		
}
	
</script>	

<style scoped ></style>