<template>


	<div id="container">
	
			
		
	
			<div id="comments" v-if="show_comments">
			
					<div id="content">
					
					<div id="comments_caption">  <h1>Comments</h1>	</div>
						
					<div>
						
						<div v-if="loading">loading...</div>
						
						
						
						
							<div id="comments_list" v-for="(item, index) in items" >
			<div class="comments_column">
				<div  class="comments_item"><span class="wrapper_cross"><span class="close" v-on:click="app_remove(item[1].id)"></span></span>
					<h3>{{item[1].title}}</h3>
					<p>{{item[1].body}}</p>
					<button class="read_more" v-on:click="get_full(item[1].id)" >Read more</button>
				</div>
			</div>
			<div class="comments_column">
				<div  class="comments_item"><span class="wrapper_cross"><span class="close" v-on:click="app_remove(item[0].id)"></span></span>
					<h3>{{item[0].title}}</h3>
					<p>{{item[0].body}}</p>
					<button class="read_more" v-on:click="get_full(item[0].id)" >Read more</button>
				</div>
			</div>
		</div>
		
						
						 
					</div>

						
						<div id="comments_footer">
						<div class="comments_footer_row"><h3>Lorem Ipsum is text of the typesetting industry</h3></div>
						<div class="comments_footer_row"><button @click="teleport_to('ABOUT US')" >Back to homepage</button></div>	
						</div>
						</div>
			
			 


			</div>

	

</div>


	  
</template>


<script>

import Vuex from 'vuex'

const mapState = Vuex.mapState;

import AppItems from "./AppItems"


export default {

  computed: {
    
	// ...mapState(['loading']),
    
      items() { 
        return this.$store.getters.items
      },
	  
	  loading(){  return this.$store.getters.loading  },
	  
	  view_comment() {  return this.$store.getters.view_comment  },
	  
	  edit_comment() {  return this.$store.getters.edit_comment  },
	  
	  show_comments() {  return this.$store.getters.show_comments  },
	  
	 
	  
  },
  
  created() {
				this.$store.dispatch('loadItems')
  },
  
  mounted() {
	 
  },
  
  components: {
  
   // AppItems: AppItems,
	 
	
  },
		
		methods: { 
		
			teleport_to(target) {
			
				this.$root.teleport_to(target)
		
				
			},
			
			
			app_remove(index){
			
				this.$store.dispatch('removeCommentById', index).then(()=>{
				
				
				 this.$store.dispatch('loadItems').then(()=> {
					 this.$root.teleport_to("COMMENTS") })
				
				
				
				
					
				});
			},
			
			
			get_full(index)  {	
				
				console.log("AppItems.get_full: index="+index);
				
				this.$store.commit( 'UPDATE_SELECTED', index );
				
				this.$store.dispatch('loadItem').then(() => {
				
					this.$store.commit('show_comments',false);
					
					this.$store.commit('view_comment',true);
					
					 
				
				});
				 
			},
			 
		}
		
}


</script>
	
<style></style>	
	
	
	
	
	
