<template>

	
	<div id="editForm">
   
   
   <div id="section_5" >
   
   
	<div id="center_of_section_5">
	
	
	
	<div id="write_comment_form">

	
	
<div id="form_row_1" >
<div><label id="write_comment_here">Write comment:</label></div>
<div><hr id="wch"/></div>
</div>



	<form id="editForm" @submit.prevent="submit" >
	
	<div id="form_row_2" >
	
	<div class="form_control_div">
		<input v-model="$v.form_title.$model" 
		
		:class="status($v.form_title)"	alt="Required, at least 3 characters" 
			 
		 
			title="Required, at least 3 characters" 
			placeholder="Title"  
			ref="input"
			type="text" 
			required >
	</div>
	
	<div class="form_control_div">
	<textarea  
	v-model="$v.form_body.$model"
	 :class="status($v.form_body)"
	 
	placeholder="Your comment" 
	ref="ta"	
	rows="10" alt="Required, at least 3 characters" 
	title="Required, at least 3 characters" required > </textarea></div>
	
	<div class="form_control_div">
	<button id="send_button" name="submit" :disabled="submitStatus === 'PENDING'" v-on:click="app_send_form">Send</button>
	</div>
	
	
	</div>
	
	</form>
	
	


  
	</div>
	
	
	</div>
	
	
	
	</div>
	
	


	
	</div>
			
	  
	 
	  
</template>
	
<script>

	const { required, minLength } = require('vuelidate/lib/validators')
export default {

 data() {
	 
	 return {
		
		 form_title: '',
		 form_body: '',
					//	error: '',//this.$v.title.$error,
					//	dirty: ''//this.$v.title.$dirty
			 
			
			}
		},
		
		 validations: {
  	form_title: { required, minLength: minLength(5)  },
	form_body: { required, minLength: minLength(10)  }
  },
 
		
		mounted() {
		
			 
						var ctx = this;
			  
					  this.$store.dispatch('loadItem').then(()=>{
						 
						 console.log("in AppEditComment mounted()")
						  ctx.$refs.input.value = ctx.$store.getters.item.title;
						  this.form_title = ctx.$refs.input.value;
						   ctx.$refs.ta.innerHTML = ctx.$store.getters.item.body;
						   this.form_body = ctx.$refs.ta.innerHTML
					  })
			
  },
		
		
		computed: {
		
		// computed_body_class() {
		
				// return	this.status(this.$v.body);
      	 
		
		// },
		// computed_input_class() {
		
				// return	this.status(this.$v.title);
      	 
		
		// },
		
	 title: { get() { return this.$store.getters.title }, set(value){this.$store.commit('UPDATE_TITLE', value)} },
	body: { get() { return this.$store.getters.body }, set(value){this.$store.commit('SET_BODY', value)} },
		
	submitStatus: {get() { return this.$store.getters.submitStatus }, set(value){this.$store.commit('SET_SUBMIT_STATUS', value)}}

	
			
		},
		
		methods: { 
		
		
		setTitle(e) {
			
			console.log("in AppEditComment setTitle()")
			console.log("this.$refs.input.value = " + this.$refs.input.value);
			console.log("e.currentTarget.value = " + e.currentTarget.value);
			this.$store.commit('UPDATE_TITLE', e.currentTarget.value)
			this.form_title = e.currentTarget.value;
			
			//this.error = this.$v.title.$error
			
			
			//
			//this.$v.title.$model = e.currentTarget.value;
			//this.$v.$touch()
			//
			
			 
			//this.$store.commit('SET_BODY', this.$refs.ta.innerHTML)
			//this.$v.body.$touch()
		},
		
		setBody(e) {
			console.log("in AppEditComment setBody()")
			//this.$store.commit('UPDATE_TITLE', this.$refs.input.value)
			//this.$v.title.$touch()
			console.log("this.$refs.ta.innerHTML = " + this.$refs.ta.innerHTML);
			console.log("e.currentTarget.innerHTML = " + e.currentTarget.innerHTML);
			this.$store.commit('SET_BODY', e.currentTarget.innerHTML)
			this.form_body = e.currentTarget.value;
			//this.$v.body = value
			//this.$v.body.$touch()
			//this.$v.$touch()
		},
  
		
		submit(){ console.log('in AppEditComment.submit()')},
		
		app_send_form ()    {
			
			 console.log('in AppEditComment.app_send_form() submit!')
			  this.$v.$touch()
			  if (this.$v.$invalid) {
				this.submitStatus = 'ERROR'
				alert('no');
				
				
				
			  }
			  else{
			  // do your submit logic here
				alert('yes');
				
				let id = this.$store.getters.item.id;
				let ft = this.$refs.input.value.trim();
				let fb = this.$refs.ta.value.trim();
				
				this.$store.commit('UPDATE_TITLE', ft )
				this.$store.commit('SET_BODY', fb )
				 
				//this.$store.dispatch()
				 
				this.$store.dispatch('updateForm',{
				
				id: id,
				title: ft,
				body: fb
				
				
				
				}).then(()=>{ 
				
					//send_form();
					this.submitStatus = 'PENDING'
					setTimeout(() => {
					  this.submitStatus = 'OK'
					 
					 setTimeout(() => { 
					 
					 this.$store.dispatch('loadItems').then(()=> {
					 this.$root.teleport_to("COMMENTS") }) }, 500 )
					 
					  // location.href="/"
					   
					}, 500)
				})
			}
		},
			  
				status(validation) {
    	
					return {
      	error: validation.$error,
        dirty: validation.$dirty
      }
	  
				},
			
			 
		}
		
		
     }
		

	
</script>	

<style scoped ></style>