<template>

	<div id="footer">
		<div id="footer_second_row">
		
			<div id="contacts">
				<div id="email">mail@mailtest.com</div>
				<div id="phone">+30-6977664062</div>
			</div>
		
		<div style="max-width:100%"></div>
			<div id="copyright">Copyright (C) 2019 Test All Rights Reserved</div>
		</div>
		
	</div>	
	  
</template>
	
<script>


export default {

 data() {
	 
	 return {
		
		
			
			}
		},
		
		
		
		computed: {
			
		},
		
		methods: { 
		
			
			 
		}
		
		
     }
		

	
</script>	

<style scoped ></style>