<template>

	<div id="appForm">
   
   
   <div id="section_5" >
   
   
	<div id="center_of_section_5">
	
	
	
	<div id="write_comment_form">

	
	
<div id="form_row_1" >
<div><label id="write_comment_here">Write comment:</label></div>
<div><hr id="wch"/></div>
</div>



	<form id="commentForm" @submit.prevent="submit" >
	
	<div id="form_row_2" >
	
	<div class="form_control_div">
		<input v-model="$v.title.$model" :class="status($v.title)"	alt="Required, at least 3 characters" 
			title="Required, at least 3 characters" 
			placeholder="Title"  
			type="text" 
			required >
	</div>
	
	<div class="form_control_div">
	<textarea id="comment_text"  
	
	v-model="$v.body.$model" :class="status($v.body)"
	
	placeholder="Your comment"  
	rows="10" alt="Required, at least 3 characters" 
	title="Required, at least 3 characters" required ></textarea></div>
	
	<div class="form_control_div">
	<button id="send_button" name="submit" :disabled="submitStatus === 'PENDING'" v-on:click="app_send_form">Send</button>
	</div>
	
	</div>
	
	</form>
	
	


 <!--  <pre>{{ $v }}</pre> -->
	
	</div>
	
	
	</div>
	
	
	
	</div>
	
	

	
	</div>

</template>

<script>

	 
	
 
	const { required, minLength } = require('vuelidate/lib/validators')
	
	export default {


	 data() {
	 
	 return {
		
			btnName: 'Toggle header',
			showH2: true, 
			arr:  [],
			maxNumbers: 10,
			count: 0
			
			}
		},
		 
		 validations: {
  	title: { required, minLength: minLength(5)  },
	body: { required, minLength: minLength(10)  }
  },
 
		methods: {
		
			dummy: function () {
				
				//console.log(this);
				let r = Math.random()*10|0
				let n = Math.random()*2|0
				if(n==1) r *= -1
				this.arr.push(r);
				
			},
			
			submit(){ console.log('in AppForm.submit()')},
		
		app_send_form ()    {
			
			 console.log('in AppForm.app_send_form() submit!')
			  this.$v.$touch()
			  if (this.$v.$invalid) {
				this.submitStatus = 'ERROR'
				alert('no');
			  }
			  else{
			  // do your submit logic here
				alert('yes');
				
				//this.$store.dispatch()
				
				this.$store.dispatch('sendForm',{
				
				store: this.$store,
				
				
				
				}).then(()=>{ 
				
					//send_form();
					this.submitStatus = 'PENDING'
					setTimeout(() => {
					  this.submitStatus = 'OK'
					 
					 setTimeout(() => { 
					 
					 this.$store.dispatch('loadItems').then(()=> {
					 this.$root.teleport_to("COMMENTS") }) }, 500 )
					 
					  // location.href="/"
					   
					}, 500)
				})
			}
		},
			  
				status(validation) {
    	
					return {
						error: validation.$error,
						dirty: validation.$dirty
					}
	  
				},
			
			
		
		},
		
		
		computed: {
		
				countNumbers() { 
				
					return this.arr.length
				},
				
				sum() {
					
					console.log('1'+1);
					let sum=0;
					this.arr.forEach( n => sum -= n )
					
					return sum;
				},
				
				dir()  { return this.showH2 ? 'Hide': 'Show' },
				
				done: function(){ return this.arr.length >= this.maxNumbers},
				
				
				
	title: { get() { return this.$store.state.title }, set(value){this.$store.commit('UPDATE_TITLE', value)} },
	
	body: { get() { return this.$store.state.body }, set(value){this.$store.commit('SET_BODY', value)} },
	
	submitStatus: {get() { return this.$store.getters.submitStatus }, set(value){this.$store.commit('SET_SUBMIT_STATUS', value)}}

				
				
				
				
				
		
		
		}
	}

</script>

<style scoped >

	#app {

	  font-family: 'Avenir', Helvetica, Arial, sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  text-align: center;
	  color: #2c3e50;
	  margin-top: 60px;
	  
	}

	h1, h2 {
	  font-weight: normal;
	}

	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	a {
	  color: #42b983;
	}

	/************* animations *****************/

	.slide-enter {
		opacity: 0;
	}

	.slide-enter-active {
		transition: opacity 0.5s;
	}

	.slide-leave-active {
		transition: opacity 0.5s;
	}
/*
	.slide-leave-to {
		opacity 0;
	}
*/
	.bounce-enter-active {
	  animation: bounce-in .5s;
	}
	.bounce-leave-active {
	  animation: bounce-in .5s reverse;
	}
	@keyframes bounce-in {
	  0% {
		transform: scale(0);
	  }
	  50% {
		transform: scale(1.5);
	  }
	  100% {
		transform: scale(1);
	  }
	}

/****************************************/

</style>
