<template>

	 <div id="header">
		
			<div>
				<img src="/images/logo.png" id="logo" alt="logo" title="logo" />
			</div>
			
			<div>	</div>
				
			<div class="navbar">
			
				<span class="navbar-span" @click="teleport_to('ABOUT US')" > ABOUT US </span>
				<span class="navbar-span" @click="teleport_to('WRITE_COMMENT_FORM')" > WRITE COMMENT </span>
				<span  class="navbar-span"  @click="teleport_to('COMMENTS')" > COMMENTS </span>
				
			</div>
			
		</div>
	  
</template>
	
<script>


export default {

 data() {
	 
	 return {
		
		
			
			}
		},
		
		
		
		computed: {
			
		},
		
		methods: { 
		
			teleport_to(target) {
		
				this.$root.teleport_to(target);
			}
			 
		}
		
		
     }
		

	
</script>	

<style scoped ></style>