<template>

	<div id="container">
	
			
	  
	  </div>
	  
</template>
	
<script>


export default {

 data() {
	 
	 return {
		
		
			
			}
		},
		
		
		
		computed: {
			
		},
		
		methods: { 
		
			
			 
		}
		
		
     }
		

	
</script>	

<style scoped ></style>