<template>

	
	<div>
	
	  <div id="view_comment" v-show="view_comment">
			  
				<app-view-comment></app-view-comment>
			  
		</div>
	
	
		
		
		
	</div>
		
		
	  
</template>
	
<script>

import Vuex from 'vuex'

const mapState = Vuex.mapState;

export default {
 
		
		computed: mapState(['items']),
		
		methods: { 
		
			
		
			app_remove (id)  {
				
				//remove(id);
			}
			
		}
		
		
     }
		

	
</script>	

<style scoped ></style>