 <template>
 
 
 <div id="container">

	 
	<div id="section_2">
	<h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
	</div>
	
	<div id="section_3">
	<img class="big_image" src="images/big_image.png" id="big_image" alt="Big image" title="Big image" />
	</div>
	<div class="clearfix"></div>
	<div id="about">
	<div id="center_div">
	
			<div class="center_div_column">
				
				<div>
				<i class="fas fa-users"></i>
				</div>
				<div class="task_label">Who we are</div>
				<div>
			<ul>
			<li>It is a long established fact that a reader will be distracted</li>
			<li>The readable content of a page when looking at its layout</li>
			
			<li>The point of using Lorem Ipsum</li>
			<li>As opposed to using "Conent here, content here"</li>
			</ul>
			</div>
			
				
				
				
				
				
			</div>
			
			<div class="center_div_column">
			
			<div>
				<i class="far fa-list-alt"></i>
					</div>
			
			<div class="task_label">What we do</div>
			<div>
			<ul>
			<li>It is a long established fact that a reader will be distracted</li>
			<li>The readable content of a page when looking at its layout</li>
			
			<li>The point of using Lorem Ipsum</li>
			<li>As opposed to using "Conent here, content here"</li>
			</ul>
			</div>
			
			
			
			
			
			
			</div>
				
			<div class="center_div_column">
				<div>
				<i class="fas fa-cogs"></i>
					</div>
			<div class="task_label">Technology</div>
			
			<div>
			<ul>
			<li>It is a long established fact that a reader will be distracted</li>
			<li>The readable content of a page when looking at its layout</li>
			
			<li>The point of using Lorem Ipsum</li>
			<li>As opposed to using "Conent here, content here"</li>
			</ul>
			</div>
			
			
			
			
			
			</div>
	
	
	</div>
	</div>
	
    <app-form></app-form>
	
	 

</div>

</template>

<script>

import AppForm from "./AppForm"


export default {

	components: {
	
		AppForm: AppForm,
		 
	},
	
	methods: {
	
		 
	
	}

}

</script>

<style>
</style>

