<template>

	<div id="container">
	
			 
		
			<div id="content">
			
					
					<div id="full_comment">
						<div id="full_comment_caption"><h1>{{item_title}}</h1></div>
						<div id="full_comment_text">{{item_body}}</div>
					</div>
					
					
					<span class="wrapper_edit"><i  v-on:click="app_edit" class="far fa-edit"></i></span>
					 

			
			</div>
			
			
			<div id="comments_footer">
			
					<div class="comments_footer_row"><h3>Lorem Ipsum is text of the typesetting industry</h3></div>
					<div class="comments_footer_row"><button @click="teleport_to('ABOUT US')">Back to homepage</button></div>	
					
			</div>
			
			
	 
	  </div>
	  
	  
</template>
	
<script>


export default {

 data() {
	 
	 return {
		
		
			
			}
		},
		
		
		computed: {
		
		item_title() {
		
		 return this.$store.getters.item.title;
		},
		
		item_body() {
		
		 return this.$store.getters.item.body;
		}
		
		
    
	// title: { get() { return this.$store.state.title }, set(value){this.$store.commit('UPDATE_TITLE', value)} },
	// item: { get() { return this.$store.state.item}, set(value){this.$store.commit('UPDATE_ITEM', value)} },
	  
     
  },
  
  methods: {
  
		app_edit()  {
  
			console.log("In app_edit: ");
			console.log(this.$store.getters.item.id);
			 
			this.$store.commit('UPDATE_SELECTED',this.$store.getters.item.id);
			
			this.teleport_to('EDIT COMMENT')
			
		},
		
		teleport_to(target) {
		
				this.$root.teleport_to(target)	
			},
			
			
		refresh() {
		
			
			
		
		}
  
  },
  
  beforeUpdate(){
  
	console.log("In AppViewComment.beforeUpdate(): ");
  
	 
  
  },
  
  created() {
  
		console.log("in AppViewComment.created(): ");
		this.$store.dispatch('loadItem')
		
  
  },
		
		
     }
		

	
</script>	

<style scoped ></style>